.background    { background: rgb(0, 0, 0);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(99, 255, 32); }
.wall          { background: grey;   }
.floater       { background: lightblue;  }

.game {
  position: relative;
}
